
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#factureModal" (click)="selectFactureForm()">
    Ajouter
</button>

<br />
<br />
<table class="table table-hover">
    <thead>
        <tr class="header-tab-blue">
            <th scope="col">Id</th>
            <th scope="col">Date facturation</th>
            <th scope="col">Date encaissement</th>
            <th scope="col">Facture HT</th>
            <th scope="col">Montant TVA</th>
            <th scope="col">Facture TTC</th>
            <th scope="col">Charges Sociales</th>
            <th scope="col">Impôt revenu</th>
            <th scope="col">Charges totales</th>
            <th scope="col">Bénéfices</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let factSynthese of syntheseFacturations">
            <th scope="row">{{factSynthese.id}}</th>
            <th>{{factSynthese.facture.dateFacturation | date: 'MMMM yyyy'}}</th>
            <th>{{factSynthese.facture.dateEncaissement | date: 'MMMM yyyy'}}</th>
            <td>{{factSynthese.facture.montantHorsTaxe | price}}</td>
            <td>{{factSynthese.tva.montant | price}}</td>
            <td>{{factSynthese.facture.montantTtc | price}}</td>
            <td>{{factSynthese.chargesSociales.montant | price}}</td>
            <td>{{factSynthese.impotRevenu.montant | price}}</td>
            <td>{{factSynthese.chargesTotales | price}}</td>
            <td>{{factSynthese.benefices | price}}</td>
            <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#factureModal" (click)="selectFactureForm(factSynthese)">
                    Modifier
                </button>
            </td>
            <td><button type="button" class="btn btn-danger">Supprimer</button></td>
        </tr>
    </tbody>
</table>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-target="#exampleModal">
    Launch demo modal
</button>


<app-facture-form *ngIf="selectedFacture" [syntheseFacture]="selectedFacture"></app-facture-form>